.main-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 150px;
  margin-top: 70px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 50px;
    padding: 0 15px;
    margin-top: 50px;
  }

  @media (max-width: 768px) {
  .center-text {
    text-align: center; 
  }
}

  .left-side {
    display: grid;
    width: 600px;

    p {
      color: #666666;
    }

    h1 {
      font-size: 3rem;
    }

    .result-side {
      display: flex;
      gap: 50px;

      h2 {
        font-size: 2rem;
      }
    }

    .two-btn {
      display: block;
      gap: 15px;

      .blue-btn {
        background-color: #4318d1;
        border: none;
        border-radius: 7px;
        width: 120px;
        height: 50px;
        color: white;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: #250e7e;
        }
      }

      .white-btn {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 7px;
        margin-left: 100px;
        width: 120px;
        height: 50px;
        color: black;
        cursor: pointer;
        transition: all 0.3s;
      }

      .white-btn:hover {
        background-color: #e1e1e1;
      }
    }
  }

  .right-side {
    width: 600px;

    .right-side_img {
      width: 650px;
      height: 450px;
      background-color: #e1e1e1;
      border-radius: 10px;
    }
  }

  @media (max-width: 768px) {
    .left-side {
      width: 100%;
      padding: 0 25px;

      h1 {
        font-size: 2rem;
      }

      .result-side {
        display: block;
        margin-left: 0px;
        margin-top: 20px;

        div {
          padding: 1rem 2rem;
          margin-top:10px;
          display: inline-block;
          border: 3px solid #4318d1;
          font-size: 2.5rem;
          border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
          text-transform: uppercase;
          letter-spacing: 0.3ch;
          background: #ffffff;
          position: relative;
          width: 350px;  
          height: 150px;
        }

        h2 {
          font-size: 3rem;
        }

        .p {
          font-size: 1rem;
        }
      }

      .two-btn {
        flex-direction: column;
        gap: 10px;
      }
    }

    .right-side {
      width: 100%;
      display: flex;
      justify-content: center;

      .right-side_img {
        width: 100%;
        height: auto;
        background-color: #e1e1e1;
        border-radius: 10px;
      }
    }
  }
}