.modal-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    width: 450px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    z-index: 1000;
}

.modal-content.show {
    transform: scale(1);
    opacity: 1;
}

.modal-content h2 {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.modal-content input:focus,
.modal-content textarea:focus {
    border-color: #4318d1;
    outline: none;
}

.modal-content button {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    background-color: #4318d1;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #250e7e;
}

.close-btn {
    background-color: transparent;
    color: #4318d1;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #4318d1;
    color: white;
}

.successBox {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}

.errorBox {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
}
