.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  height: 80px !important;
  background-color: #222831;
  color: #EAEFEF;
  box-shadow: 1px 1px 24px 0px rgba(112,112,112,0.75);
  -webkit-box-shadow: 1px 1px 24px 0px rgba(112,112,112,0.75);
  -moz-box-shadow: 1px 1px 24px 0px rgba(112,112,112,0.75);

  .left-side {
    align-items: center;
    display: flex;
    gap: 120px;

    img {
      width: 200px;
    }

    .li-links {
      display: flex;
      gap: 50px;
      cursor: pointer;
      list-style-type: none;
      font-size: 17px;
      font-weight: 500;

      li {
        transition: all 0.3s;
        padding: 4px 10px;
        border-radius: 7px;
        &:hover {
          background-color: #DFD0B8;
          color: #222831;
        }
      }
    }
  }

  .profile-side {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
      padding: 12px 25px;
      border-radius: 8px;
      border: 1px solid #948979;
      background-color: #393E46;
      cursor: pointer;
      font-size: 15px;
      font-weight: 550;
      color: #DFD0B8;
      transition: all 0.3s;

      &:hover {
        border: 1px solid #393E46;
        background-color: #DFD0B8;
        color: #222831;
      }
    }

    img {
      background-size: cover;
      width: 52px;
      height: 52px;
      padding: 5px;
      border-radius: 7px;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: #948979;
      }
    }
  }

  .dropdown-menu {
    transform: translate(1729px, 125px);
    position: absolute;
    z-index: 10;
    background-color: #213448;
    padding: 14px;
    border-radius: 7px;
    gap: 20px;

      li {
        font-size: 17px;
        color: #ECEFCA;
        font-weight: 500;
        list-style-type: none;
        cursor: pointer;
        padding: 5px;
        transition: all 0.3s;
        border-radius: 5px;
        &:hover {
          background-color: #547792;
        }
      }
  }
}